.container.d-flex.justify-content-center.align-items-center{
    height: 100vh;
  }
  .user-infor-container {
  padding: 20px;
  border: 2px solid black; /* Đường viền rộng ra */
  }
  .btn {
    cursor: pointer;
  }